body {
  margin: 0;
  text-align: center;
  font-family: 'Amiri', serif;
  color: #40514E;
}

a {
  text-decoration: none;
  color: #27F68E;
  font-family: 'Noto Sans TC', sans-serif;
}
a:hover{
  color: #27F6E6;
}

p{
  line-height: 2;
  margin: 0px auto;
}

hr {
  background-color: none;
  border-style: dotted none none none;
  border-color: #66BFBF;
  border-width: 10px;
  height: auto;
  width: 4%;
  margin: 100px auto;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Rochester', cursive;
  font-size: 5.625rem;
  color: #66BFBF
}

h2 {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: #0c084c;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: #247e6c;
  margin-top: 30px;
  margin-bottom: 0px;
}

h4{
  text-decoration: underline;
  margin: 0px auto;
}
.skill-row {
  width: 60%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.top-container {
  /*background-color: #D7F7F5;*/
  background-color: #eaf5ff;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #a9c6de;
  font-size: 1.5rem;
  padding: 100px 0;
}

.intro{
  width: 50%;
  margin: auto;
}

.butn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Noto Sans TC', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.links {
  word-spacing: 50px;
}

.profile_pic {
  width: 350px;
  height: 350px;
  border-radius: 100%;
}

.contact-me{
  font-size: 1.5rem;
}

.bottom-container {
  background-color: #247e6c;
  padding-top: 50px;
  padding-bottom: 50px;
}

.copyright{
  font-size: 0.75rem;
  color: #EAF6F6;
  padding: 40px 0;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.first-skill-pic {
  width: 25%;
  float: top;
  margin-right: 30px;
}

.second-skill-pic {
  width: 25%;
  float: right;
  margin-left: auto auto 50px 30px;
}
