body {
  margin: 0;
  text-align: center;
  font-family: 'Amiri', serif;
}

a {text-decoration: none; }

hr {
  background-color: none;
  border-style: dotted none none none;
  border-color: #66BFBF;
  border-width: 10px;
  height: auto;
  width: 4%;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Rochester', cursive;
  font-size: 5.625rem;
  color: #66BFBF
}

h2{
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF
  }

h3{
  font-family: 'Noto Sans TC', sans-serif;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.top-container {
  //background-color: #D7F7F5;
  background-color: #b7fbff;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: ##40514E;

}

.btn{
  border-radius: 10px; /* Curve of border corners */

text-transform: uppercase; /* Make letters uppercase */
font-size: 1.8rem;

color: white; /* Text color */

background: #0099cc; /* For browsers that do not support gradients */
margin-bottom: 50px;

/*background: -webkit-linear-gradient(#e5f4f9, #b2e0ef, #7fcce5, #0089b7, #0099CC, #b2e0ef); /* For Safari 5.1 to 6.0

background: -o-linear-gradient(#e5f4f9, #b2e0ef, #7fcce5, #0089b7, #0099CC, #b2e0ef); /* For Opera 11.1 to 12.0

background: -moz-linear-gradient(#e5f4f9, #b2e0ef, #7fcce5, #0089b7, #0099CC, #b2e0ef); /* For Firefox 3.6 to 15

background: linear-gradient(#e5f4f9, #b2e0ef, #7fcce5, #0089b7, #0099CC, #b2e0ef); /* Standard syntax */

}
.profile_pic{
width: auto;
height: auto;
 border-radius: 100%;
}
.bottom-container {
margin-top: 50px;
  background-color: #66BFBF;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 1.5rem;
  color: #11999E;

}

.footer-link{
  font-size: 1.5rem;
  color: #11999E;

}

.pro{
  text-decoration: underline;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud{
  position: absolute;
  top: 50px;
  right: 300px;
}

.first-skill-pic{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.second-skill-pic {
  width: 25%;
  float: right;
  margin-left: auto auto 50px 30px;
}
