body {
  margin: 0;
  text-align: center;
  font-family: 'Amiri', serif;
}

h1 {
  margin-top:0;
  font-family: 'Rochester', cursive;
  font-size: 5.625rem;
}

h2{
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 2.5rem;
}

h3{
  font-family: 'Noto Sans TC', sans-serif;
}
.top-container {
  //background-color: #D7F7F5;
  background-color: #b7fbff;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #fff6be;

}
.profile_pic{
width: auto;
height: auto;
 border-radius: 100%;
}
.bottom-container {
  background-color: #ffe0a3;

}

.pro{
  text-decoration: underline;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud{
  position: absolute;
  top: 50px;
  right: 300px;
}
