
div{
  width: 200px;
  height: 200px;
  background-color: #D7F7F5;
  border: 10px solid black;
  padding: 20px;
}

.middle-container {
  width: 200px;
  height: 200px;
  background-color: red;
  width: 200px;
  height: 200px;
  border: 20px solid black;
  margin: 0 0 0 260px;
}

.bottom-container {
  width: 200px;
  height: 200px;
  background-color: yellow;
  border: 10px solid;
  margin: 0 0 0 540px;
}
